# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
marconi

# Test binary
*.test

# Output of go coverage
*.out

# Go workspace
go.work
go.work.sum

# IDE
.idea/
.vscode/
*.swp
*.swo

# env
.env

# OS
.DS_Store
